body{
	background-color:skyblue;
}
.box{
	background-color:red;
	height:200px;
	width:200px;
	animation-name:ishu;
	animation-duration:2s;
}
/*@keyframes ishu{
	0%{
	background-color:black;
	}
	25%{
	  background-color:orange;
	  margin-left:200px;
	  margin-top:0px;
	}
	50%{
		background-color:yellow;
		margin-top:200px;
		margin-left:100px;
	}
	75%{
		background-color:purple;
		margin-top:0px;
	}
}*/
@keyframes ishu{
	0%{
	background-color:black;
	}
	25%{
	  background-color:orange;
	  margin-left:200px;
	  margin-top:0px;
	}
	50%{
		background-color:yellow;
		margin-top:200px;
		margin-left:200px;
	}
	75%{
		background-color:purple;
		margin-top:200px;
		margin-left:0px;
	}
	100%{
		background-color:green;
		margin-top:0px;
		
}